/* header styling */
.header{
  height: 30px;
  width: 100%;
 padding: 10px 0;
  background-color: rgba(28, 26, 26, 0.831);
  color:white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}
.header ul{
  display:  flex;
  gap: 40px;
  margin-left: 40px;
  
}
.header ul li{
  list-style: none;
}
.button{
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.74);
}
button{
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 10px;
}
/* search feild style */
.input-field {
  margin-top: 0;
  position: absolute;
  width: 29.8%;
  left: 35%;
  top:7px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s;
}

.input-field:hover {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
}

/* card styling */
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 text-align: center;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 margin-right: 20px;
 /* background-color: green; */
}
.cardMap{
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-color: blue; */
}
.xyz{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
 margin: auto;
  gap: 20px;
  /* background-color: aqua; */
}

/* media query */
.humburger_cross {
  height: 40px;
  width: 40px;
  right: 10px;
  display: none;
  position: absolute;
  transition: all 0.5s;
}
.humberger-bars{
  display: none;
  float: right;
}
/*  */
@media (max-width:500px) {
 .box_products{
  padding: .5rem !important;
  background-color: blueviolet !important;
 }
 .box_details{
  background-color: green !important;
  display: flex !important;
  flex-direction: column !important;

 }
 .img_more{
  background-color: blue !important;
  /* position: static !important; */
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  /* display: none !important; */
 }
 .box_footer{
  background-color: aqua !important;
  padding: .5rem !important;
 }
 .menu_list{
  position: absolute;
        background-color:burlywood;
        left: 0 !important;
        transition: all .3s;
        z-index: 100;
        width: 100vw;
        margin-left: 0 !important;
        display: block;
        margin-top: 50px;
        display: flex;
        color: white;
        flex-direction: column;
 }
 .humburger_cross {
  margin: auto;
  position: absolute;
  top: 10px;
  /* right: 10px; */
  display: block;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.5s;
}
.humberger-bars{
  font-size: 20px;
  position: absolute !important;
  right: 10px;
  display: block;
  cursor: pointer;
  transition: all 5s;
  z-index: 1000;
  padding-left: 30px;
  /* background-color: blue !important; */
}
.login_search{
  width: 100vw !important;
  /* background-color: blue !important; */
  display: flex;
  
}

}